{% extends 'base.html' %}

{% block title %} Create a user {% endblock %}

{% block content %}

<h1 class = "text-center"> Create a User</h1>

<!-- will go to some route -->
<form action="" method="POST">

  <!-- needs an ID to link: id="first_name" -->
  <label class="form-label" for="first_name">First Name</label>
  <input class="form-control" id="first_name" type="text" name="first_name" placeholder="Enter a first name">

  <label class="form-label" for="last_name">Last Name</label>
  <input class="form-control" type="text" name="last_name" placeholder="Enter a last name">

  <label class = "form-label" for="image_url">Image URL</label>
  <input class = "form-control" type="text" name = "image_url" placeholder="Provide an image of this user">


  <div class="button-class-div mt-2">
    <button type="submit" class='btn btn-success'>Add</button>
  </div>
</form>


{% endblock %}