{% extends "base.html" %}



{% block title %} {{user.first_name}} {{user.last_name}}{% endblock %}


{% block content %}

{% if user.image_url %}
<img class="img-thumbnail d-inline rounded" src="{{ user.image_url }}" alt="Profile-Image">
{% else %}
<img class="img-thumbnail d-inline rounded" src="https://t3.ftcdn.net/jpg/00/64/67/80/360_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg" alt="Profile-Image">
{% endif %}


<h1>{{user.first_name}} {{user.last_name}}</h1>

<form action=""></form>


<a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>



<form class = "d-inline" action="/users/{{user.id}}/delete" method="POST">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>


{% endblock %}